body {
    background-color: #f8f9fa;
}


.table td,
.table th {

    vertical-align: middle;

}


.badge {

    min-width: 55px;

}

.table-responsive {
    overflow-x: auto;
}

@media (max-width: 576px) {

    table th:last-child,
    table td:last-child {

        position: sticky;
        right: 0;
        background: white;
        z-index: 2;

    }

}